{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/rlib.css">
    <link rel="stylesheet" href="/static/css/evento/evento_index.css">

</head>
<body>

<div class="cracha bck-ghost">
    <h4 class="title-cracha">{{first_name}} {{last_name}}</h4>
    <center>
        <div class="img-cracha">
            <img class="small-radius" src="{{foto_usuario}}">
        </div>
        <h4 class="title-cracha">{{titulo}}</h4>
    </center>
</div>


</body>
</html>