<section id="detalhe_evento" class="popup full slow-hide ">
    <div class="popup-body">
        <div data-model="evento_detalhe">
            <div class="fixed bottom-right stay-on-top">
                <a href="javascript:void(0)" class="circle circle-small cancel"
                   onclick="evento.fechar_detalhe_evento()"></a>
            </div>

            <div class="container">
                <div class="col-md-3"></div>
                <div class="col-md-7 bck-white radius">
                    <div class="">
                        <script type="text/html" data-model="evento">
                            <input type="hidden" data-id="detalhe_evento_evento_id"
                                   value="[{id}]">

                            <ul class="list-group">
                                <li class="list-group-item">
                                    <h3 class="title">[{titulo}]</h3>
                                </li>
                                <li class="list-group-item">
                                    <a href="#" class="img-event"><img class="small-radius"
                                                                       data-src="/upload/[{imagem_divulgacao}]"/></a>
                                </li>

                                <li class="list-group-item">
                                    <p class="text-justify">[{descricao}]</p>
                                </li>
                                <li class="list-group-item">
                                    <a href="javascript:void(0)" class="btn btn-primary"
                                       id="btn-inscrever-evento"
                                       onclick="evento.abrir_periodos([{id}])">
                                        Participar
                                    </a>

                                    <a href="javascript:void(0)" class="btn btn-primary"
                                       id="btn-cancelar-inscricao"
                                       onclick="evento.abrir_periodos([{id}], true)">
                                        Cancelar
                                    </a>
                                </li>
                            </ul>
                        </script>


                        <ul class="list-group">

                            <li id="evento-periodo" class="list-group-item">
                                <h3 class="title">Período</h3>
                                <script type="text/html" data-model="periodos">
                                    <ul class="list-group">
                                        <li class="list-group-item">Data: [{data}]</li>
                                        <li class="list-group-item">Inicio: [{hora_inicio}]</li>
                                        <li class="list-group-item">Fim: [{hora_fim}]</li>
                                        <li class="list-group-item">Vagas disponibilizadas: [{quantidade_vagas}]</li>
                                    </ul>
                                </script>
                                <span data-model-empty="periodos" class="hide list-group-item">Não há perídos
                                cadastrados
                                </span>
                            </li>

                            <li id="evento-localidade" class="list-group-item">
                                <h3 class="title">Local</h3>
                                <script type="text/html" data-model="local">
                                    <ul class="list-group">
                                        <li class="list-group-item">Estado - [{estado}]</li>
                                        <li class="list-group-item">Cidade - [{cidade_nome}]</li>
                                        <li class="list-group-item">Logradouro - [{endereco}]</li>
                                        <li class="list-group-item">Bairro - [{bairro}]</li>
                                        <li class="list-group-item">Número - [{numero_endereco}]</li>
                                    </ul>
                                </script>
                                <span data-model-empty="local" class="hide list-group-item">Não há local
                                        cadastrado
                                </span>

                            </li>

                            <li id="evento-palestrantes" class="list-group-item">
                                <h3 class="title">Atrações</h3>
                                <ul class="list-group">
                                    <li data-model-empty="palestrantes"
                                        class="hide list-group-item">Não há atrações cadastradas
                                    </li>
                                    <script type="text/html" data-model="palestrantes">
                                        <li class="list-group-item palestrante">
                                            <h5 class="title">[{nome}]</h5>
                                            <p class="text-justify">
                                                [{descricao}]
                                            </p>
                                        </li>
                                    </script>
                                </ul>
                            </li>

                            <li id="evento-videos" class="list-group-item">
                                <h3 class="">Vídeos</h3>
                                <ul class="list-group">
                                    <script type="text/html" data-model="videos">
                                        <li class="list-group-item">
                                            <h5 class="title">[{titulo_video}]</h5>
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe class="embed-responsive-item" data-src="[{url}]"
                                                        webkitallowfullscreen mozallowfullscreen allowfullscreen>
                                                </iframe>
                                            </div>
                                        </li>
                                    </script>
                                    <li data-model-empty="videos" class="hide list-group-item">Não há vídeos
                                        cadastrados
                                    </li>

                                </ul>
                            </li>

                            <li id="evento-anexos" class="list-group-item">
                                <h3 class="title">Anexos</h3>
                                <ul class="list-group">
                                    <li data-model-empty="anexos" class="hide list-group-item">Não há anexos</li>
                                    <script type="text/html" data-model="anexos">
                                        <li class="list-group-item">
                                            <a data-href="/upload/[{caminho_arquivo}]"
                                               target="_blank">[{titulo_anexo}]</a>
                                        </li>

                                    </script>
                                </ul>
                            </li>

                            <li id="evento-comentario" class="list-group-item">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <h3 class="title">Adicionar comentário</h3>
                                        <div class="form-group">
                                            <label>Comentário</label>
                                            <textarea id="comentario" class="form-control"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <a class="btn btn-primary form-control" href="javascript:void(0)"
                                               onclick="evento.inserir_comentario()">adicionar</a>
                                        </div>
                                    </li>

                                    <li class="list-group-item">
                                        <h3 class="title">Comentários</h3>
                                        <ul class="list-group">
                                            <li data-model-empty="comentarios" class="hide list-group-item">Não há
                                                comentários
                                            </li>

                                            <script type="text/html" data-model="comentarios">
                                                <li class="list-group-item">
                                                    <h4 class="strong">[{usuario_nome}]</h4>
                                                    <p>
                                                        [{comentario}]
                                                    </p>
                                                </li>
                                            </script>
                                        </ul>
                                    </li>
                                </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>