{% extends 'base.html'%}
{% load staticfiles %}
{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/evento/evento_index.css'%}">
{% endblock %}

{% block 'body' %}
<header class="fixed-header title">
    <div class="col col-1 logo-div">
        <center><a href="/evento"><img src="/static/images/logo2.png" title="auditório eventos" alt="auditório eventos"
                                       class="img-logo white"/></a></center>
    </div>

    <div id="div-pesq" class="col col-8 hide-scroll">
        <div class="col col-5 autocomplete " id="pesqtext">
            <input class="search" placeholder="pesquise eventos aqui..." type="text"
                   data-autocomplete-url="/evento/lista_eventos_autocomplete"
                   data-field="id" data-field-text="titulo" data-field-img="imagem_divulgacao"
                   data-relative-img-url="/upload/" id="pesquisa_evento">
        </div>
        <div class="col col-1 ">
            <a href="javascript:void(0)" class="btn full-width btn-search bck-menu-blue" id="btn-pesquisa_eventos"></a>
        </div>
    </div>
    <div class="col col-1 flo-right hide-mobile ">

        <div class="col col-10 group-pesq">
            <center>
                <a href="javascript:void(0)" class="white small-font bold" onclick="evento.abrir_edicao_usuario();">
                    <img data-id="img-usr" data-src="/upload/[{foto_usuario}]"
                         data-model="dados_perfil_usuario" data-self=""
                         class="big-radius" title="[{first_name}]"
                    />
                </a>
            </center>
        </div>
    </div>

</header>

<section id="menu" class="after-header menu  ">

    <div class="menu-content">

        <ul>
            <li onclick="evento.ir_pagina('lista_eventos', 'evento_conteudo');mainLib.dataBinder.removeReplicatedModel('evento_lista');
                         mainLib.dataBinder.bindServerDataOnTemplate('/evento/lista_eventos/', 'evento_lista',
                         mainLib.find('#lista_eventos').elements[0])">
                <img src="/static/images/home-32.png">
                <a href="javascript:void(0)" class="white"> Home </a>
            </li>
            <li onclick="evento.ir_pagina('lista_eventos', 'evento_conteudo');mainLib.dataBinder.removeReplicatedModel('evento_lista');
               mainLib.dataBinder.bindServerDataOnTemplate('/evento/lista_eventos_participante/', 'evento_lista',
                  mainLib.find('#lista_eventos').first())">
                <a href="javascript:void(0)"><img src="/static/images/list32_5.png"></a>
                <a href="javascript:void(0)" class="white"> inscrições </a>
            </li>
            <li onclick="evento.abrir_edicao_usuario()">

                <img src="/static/images/profile-32.png">
                <a href="javascript:void(0)" class="white">meus dados</a>
            </li>

            <li onclick="evento.ir_pagina('gerenciar_eventos', 'evento_conteudo');
                   mainLib.dataBinder.bindServerDataOnTemplate('/evento/lista_eventos_organizador',
                  'eventos_organizador', null, null, mainLib.find('#lista_eventos_gerenciar .list-btn li').elements.length <= 1)">
                <a href="javascript:void(0)"><img
                        src="/static/images/manage32_5.png"></a>
                <a href="javascript:void(0)" class="white">
                    gerenciar eventos </a>
            </li>
            <li>
                <a href="/logout/"><img
                        src="/static/images/logout32_5.png"></a>
                <a href="/logout/" class="white">
                    sair </a>
            </li>

        </ul>
    </div>

</section>
<div id="evento_conteudo" class="after-header after-menu col col-8 conteudo">
    <section id="lista_eventos" class="col col-5 page hide">
        <div data-model="evento_lista">
            <div class="event col col-7 small-radius suspend">
                <div class="col col-10">
                    <div class="col col-10">
                        <h3 class="title"><a href="javascript:void(0)" class="gray hover-blue"
                                             onclick="evento.abrir_detalhe_evento([{id}])">[{titulo}]</a>
                        </h3>


                        <a href="javascript:void(0)" class="flo-left img-event"
                           onclick="evento.abrir_detalhe_evento([{id}])">
                            <img data-src="/upload/[{imagem_divulgacao}]" class="small-radius"/>
                        </a>
                    </div>
                    <div class="col col-10">
                        <pre class="text-justify des-event">[{descricao}]</pre>
                    </div>

                </div>

                <section class="col col-5">
                    <img src="/static/images/local24.png" title="local" alt="local">
                    [{endereco}], número [{numero_endereco}], bairro [{bairro}], [{estado}] - [{cidade_nome}].

                </section>
                <section class="col col-5">
                    <img src="/static/images/tag24.png" title="tipo" alt="tipo">
                    [{tipo}]
                </section>
                <section class="col col-5">
                    <img src="/static/images/price24.png" title="valor" alt="valor">
                    $ [{valor}]
                </section>


                <div class="col col-10 small-radius event-pan-det">
                    <div class="col col-5">
                        <a href="javascript:void(0)" class="btn bck-menu-blue full-width"
                           onclick="evento.abrir_detalhe_evento([{id}])">
                            <img data-src="/static/images/details32_2.png">
                            <div>detalhes</div>
                        </a>

                    </div>
                    <div class="col col-5">
                        <a href="javascript:void(0)" class="btn bck-menu-blue full-width"
                           onclick="evento.abrir_periodos([{id}])"><img src="/static/images/check-mark32_2.png">
                            <div>participar</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="gerenciar_eventos" class="page hide col col-7 border-right">
        <div class="col col-10 title bck-green" id="gerenciar-evento-cards">
            <a href="javascript:void(0)" class="btn bck-menu-blue"
               onclick="evento.ir_pagina('lista_eventos_gerenciar', 'gerenciar_eventos');
                 mainLib.dataBinder.removeReplicatedModel('eventos_organizador');
                 mainLib.dataBinder.bindServerDataOnTemplate('/evento/lista_eventos_organizador',
                  'eventos_organizador')">
                <img src="/static/images/list32_32.png">

                <div class=" small-font">&nbsp&nbspmeus eventos&nbsp&nbsp</div>
            </a>

            <a href="javascript:void(0)" class="btn bck-menu-blue"
               onclick="evento.limpar_template();evento.ir_pagina('gerenciar-evento-tabs', 'gerenciar_eventos');mainLib.find('#criar_editar_evento').first().click()">
                <img src="/static/images/add32_2.png">
                <div class=" small-font">adicionar evento</div>
            </a>
        </div>
        <section id="lista_eventos_gerenciar" class="col col-10  page ">
            <div class="col col-10">
                <small class="red">clique sobre um evento da lista para editar</small>
            </div>
            <div class="col col-10">
                <ul class="list-btn">
                    <li data-model="eventos_organizador"
                        onclick="evento.carregar_evento_edicao([{evento_id}])" data-self>
                        <b>[{titulo}]</b>
                    </li>
                </ul>
            </div>
        </section>

        <div id="gerenciar-evento-tabs" class="hide page col col-10">

            <section id="criar_editar_evento" class="col col-10">

                <h3 class="title">adicione e altere o evento</h3>
                <form id="form-criar-editar-evento" class="col col-10">
                    <div data-model="evento">
                        <input type="hidden" data-name="id" data-value="[{id}]">
                        <div class="form-field">
                            <label for="titulo">título</label>
                            <input type="text" data-id="titulo" data-name="titulo" data-value="[{titulo}]">
                        </div>
                        <div class="form-field">
                            <label for="descricao">descrição detalhada</label>
                            <textarea data-id="descricao" data-name="descricao">[{descricao}]</textarea>
                        </div>
                        <div class="form-field">
                            <label for="palavras_chave">palavras chaves</label>
                            <input type="text" data-id="palavras_chave" data-name="palavras_chave"
                                   data-value="[{palavras_chave}]">
                        </div>
                        <div class="form-field">
                            <label for="tipo_evento">tipo do evento</label>
                            <select data-value="[{tipo_evento}]" data-name="tipo_evento_id"
                                    data-lookup-url="evento/lista_tipo_evento" data-lookup-field="id"
                                    data-lookup-field2="nome"
                            >

                            </select>
                        </div>
                        <div class="form-field">
                            <label for="tipo_cobranca">tipo da cobrança</label>
                            <select data-name="tipo_cobranca" data-value="[{tipo_cobranca}]">
                                <option value=""></option>
                                <option value="G">Gratuíto</option>
                                <option value="P">Pago</option>
                            </select>
                        </div>
                        <div class="form-field text-center">
                            <label for="evento_privado">evento privado(não mostrar na timeline)</label>
                            <input type="checkbox" data-id="cadastro_evento_evento_privado"
                                   data-value=[{evento_privado}]>
                            <input type="hidden" data-name="evento_privado">

                        </div>
                        <div class="form-field">
                            <label for="valor">preço</label>
                            <input type="number" step="0.01" data-value="[{valor}]" data-id="valor" data-name="valor">
                        </div>
                        <div class="form-field">
                            <label for="imagem_divulgacao">imagem para timeline:</label>
                            <input type="file" data-name="imagem_divulgacao"
                                   accept="image/*"
                                   onchange="mainLib.showLocalImage(this,
                                     mainLib.find('#imagem_divulgacao_img').first());">

                        </div>
                        <div class="col col-3 img-event">
                            <img data-src="/upload/[{imagem_divulgacao}]" data-id="imagem_divulgacao_img"
                                 alt="escolha uma imagem acima"/>
                        </div>


                    </div>
                    <div data-model="local">
                        <div class="form-field">
                            <label for="pais">país:</label>
                            <select data-name="pais_id" data-id="pais_evento" data-lookup-url="/localidade/obter_paises"
                                    data-lookup-field="id" data-lookup-field2="nome" data-value="[{pais_id}]">
                            </select>
                        </div>

                        <div class="form-field">
                            <label for="estado">estado:</label>
                            <select data-name="estado_id" data-id="estado_evento" data-value="[{estado_id}]"
                                    data-lookup-url="/localidade/obter_estados"
                                    data-lookup-field="id" data-lookup-field2="nome"
                                    data-lookup-master="#pais_evento"
                                    data-lookup-master-field="pais_id">
                            </select>
                        </div>

                        <div class="form-field">
                            <label for="cidade">cidade:</label>
                            <select data-name="cidade_id" data-id="cidade_evento" data-value="[{cidade_id}]"
                                    data-lookup-url="/localidade/obter_cidades"
                                    data-lookup-field="id" data-lookup-field2="nome"
                                    data-lookup-master="#estado_evento"
                                    data-lookup-master-field="estado_id">
                            </select>
                        </div>
                        <div class="form-field">
                            <label for="cep">cep/zip-code:</label>
                            <input data-name="cep" data-id="cep" type="text" data-value="[{cep}]">
                        </div>
                        <div class="form-field">
                            <label for="bairro">bairro:</label>
                            <input data-name="bairro" id="bairro" type="text" data-value="[{bairro}]">
                        </div>
                        <div class="form-field">
                            <label for="endereco">logradouro:</label>
                            <input data-name="endereco" id="endereco" type="text" data-value="[{endereco}]">
                        </div>
                        <div class="form-field">
                            <label for="numero_endereco">número:</label>
                            <input data-name="numero_endereco" id="numero_endereco" type="number"
                                   data-value="[{numero_endereco}]">
                        </div>
                    </div>

                </form>

                <div class="col col-10">
                    <h3 class="title"></h3>
                    <a href="javascript:void(0)" class="btn btn-blue" id="edicao_evento_salvar"
                       onclick="evento.salvar_evento();">salvar e
                        gerenciar</a>
                </div>
            </section>
            <section class="col col-10" id="gerenciar-periodo-evento">

                <h3 class="title">adicione as datas em que o evento ocorrerá</h3>
                <div class="col col-10">
                    <form>
                        <div class="form-field ff-small">
                            <label for="data-evento">data</label>
                            <input type="date" id="data-evento" name="data">
                        </div>
                        <div class="form-field ff-small">
                            <label for="hora-inicio-evento">hora do início</label>
                            <input type="time" id="hora-inicio-evento" name="hora_inicio">
                        </div>
                        <div class="form-field ff-small">
                            <label for="hora-fim-evento">hora do fim</label>
                            <input type="time" id="hora-fim-evento" name="hora_fim">
                        </div>
                        <div class="form-field ff-small">
                            <label for="quantidade-vagas-evento">quantidade de vagas</label>
                            <input type="number" id="quantidade-vagas-evento" name="quantidade_vagas">
                        </div>
                    </form>
                    <div class="col col-10">
                        <a href="javascript:void(0)" onclick="evento.inserir_periodo();"
                           class="btn btn-blue">adicionar período</a>
                    </div>

                    <div class="col col-10">
                        <small class="red">remova os períodos clicando sobre as datas</small>
                        <ul class="list-btn">
                            <li data-model="periodos" data-self=""
                                onclick="evento.remover_item('/evento/deletar_periodo', [{id}], this);">
                                [{data}] -
                                de [{hora_inicio}] à [{hora_fim}] -
                                [{quantidade_vagas}] vagas
                            </li>
                        </ul>
                    </div>

                </div>

            </section>
            <section id="gerenciar-evento-organizadores" class="col col-10">
                <section class="lista_organizadores">
                    <h3 class="title">adicione os organizadores do evento</h3>
                    <div>
                        <small class="blue">preencher o e-mail completo do usuário deixa a pesquisa mais eficaz</small>
                    </div>
                    <div class="col col-10 autocomplete">
                        <input id="busca_adicionar_organizador"
                               placeholder="adicione organizadores pesquisando aqui..."
                               class="small-radius search" type="text" data-autocomplete-url="/pesquisar_usuario"
                               data-field="id" data-field-text="nome_completo" data-field-img="foto_usuario"
                               data-relative-img-url="/upload/"
                        >
                    </div>
                    <div class="col col-10"><a href="javascript:void(0)" class="btn btn-blue"
                                               onclick="evento.inserir_organizador()">adicionar
                        organizador</a></div>
                    <small class="red">remova os organizadores clicando sobre seus nomes</small>
                    <div class="col col-10">
                        <ul class="list-btn">
                            <li data-model="organizadores" data-self=""
                                onclick="evento.remover_item('/evento/deletar_organizador', [{id}], this);">
                                [{nome}]
                            </li>
                        </ul>
                    </div>
                </section>
            </section>
            <section id="gerenciar-evento-palestrante" class="col col-10">
                <form>
                    <div class="form-field">
                        <label for="palestrante_nome">nome</label>
                        <input type="text" name="nome" id="palestrante_nome">
                    </div>
                    <div class="form-field">
                        <label for="palestrante_cpf">cpf</label>
                        <input type="text" name="cpf" id="palestrante_cpf">
                    </div>
                    <div class="form-field">
                        <label for="palestrante_descricao">descrição</label>
                        <input type="text" name="descricao" id="palestrante_descricao">
                    </div>
                    <div class="form-field">
                        <label for="palestrante_email">e-mail</label>
                        <input type="email" name="email" id="palestrante_email">
                    </div>
                </form>
                <div class="col col-10">
                    <a href="javascript:void(0)" onclick="evento.inserir_palestrante()"
                       class="btn btn-blue">adicionar palestrante</a>
                </div>
                <div class="col col-10">
                    <small class="red">remova os palestrantes clicando sobre seus nomes</small>
                </div>
                <div class="col col-10">
                    <ul class="list-btn">
                        <li data-model="palestrantes" data-self=""
                            onclick="evento.remover_item('/evento/deletar_palesrante', [{id}], this);">
                            [{nome}]
                        </li>
                    </ul>
                </div>


            </section>
            <section id="gerenciar-evento-anexos" class="col col-10">
                <div class="col col-10">
                    <h3 class="title">adicione arquivos</h3>
                    <div class="col col-10">
                        <form>
                            <div class="form-field ff-small">
                                <input type="text" class="small-radius"
                                       placeholder="digite um título para o anexo" name="titulo_anexo">
                            </div>
                            <div class="form-field ff-small">
                                <input type="file" name="caminho_arquivo"
                                       accept=".doc,.pdf,.jpg,.png,.gif,.docx,.xls,.xlsx,.odt,.ppt,.pot,.pps,.pptx">
                            </div>
                            <input type="hidden" name="evento_id">
                        </form>
                    </div>
                    <a href="javascript:void(0)" class="btn btn-blue" onclick="evento.inserir_anexo()">adicionar</a>

                    <div class="col col-10">
                        <small class="red">remova os anexos clicando sobre seus nomes</small>
                        <ul class="list-btn">
                            <li data-model="anexos" data-self
                                onclick="evento.remover_item('/evento/deletar_anexo',[{id}], this)">[{titulo_anexo}]
                            </li>
                        </ul>
                    </div>

                </div>
            </section>
            <section id="gerenciar-evento-videos" class="col col-10">
                <div class="col col-10">
                    <h3 class="title">adicione vídeos</h3>
                    <div class="col col-10">
                        <div class="col col-10">
                            <form>
                                <div>
                                    <input type="text" class="field ff-small small-radius"
                                           placeholder="digite um título para o vídeo" name="titulo_video">
                                </div>
                                <div>
                                    <input type="url" class="field ff-small small-radius" name="url"
                                           placeholder="digite a url do vídeo que quer incorporar">
                                </div>
                                <input type="hidden" name="evento_id">
                            </form>
                        </div>
                        <div>
                            <a href="javascript:void(0)" class="btn btn-blue"
                               onclick="evento.inserir_video()">adicionar</a>
                        </div>
                    </div>

                    <div class="col col-10">
                        <small class="red">remova os vídeos clicando sobre seus nomes</small>
                        <ul class="list-btn">
                            <li data-model="videos" data-self=""
                                onclick="evento.remover_item('/evento/deletar_video',[{id}], this)">
                                [{titulo_video}]
                            </li>

                        </ul>
                    </div>
                </div>
            </section>
            <section id="gerenciar-eventos-tarefas" class="col col-10">
                <div class="col col-2">
                    <a class="btn btn-blue full-width"
                       onclick="evento.carregar_participantes_evento();">
                        <img src="/static/images/event32_1.png">
                        <div class="white small-font">gerenciar participantes</div>
                    </a>
                </div>
                <div class="col col-2">
                    <a class="btn btn-blue full-width"
                       onclick="evento.ir_pagina('gerenciar-eventos-relatorios', 'gerenciar-eventos-tarefas')">
                        <img src="/static/images/graph32.png">
                        <div class="white small-font">dados gerenciais</div>
                    </a></div>
                <div class="col col-2">
                    <a class="btn btn-blue full-width"
                       onclick="evento.ir_pagina('enviar-email-participantes', 'gerenciar-eventos-tarefas')">
                        <img src="/static/images/envelope.png">
                        <div class="white small-font">e-mail para participantes</div>
                    </a>
                </div>

                <section id="gerenciar-eventos-participantes" class="col col-10 hide page">
                    <div class="tabled col col-10">
                        <div class="tabled-body col col-10">
                            <div class="tabled-row col col-10" data-model="participantes_evento" data-self="">
                                <div class="col col-2"><strong> [{nome}] &nbsp; [{sobrenome}] </strong></div>
                                <div class="col col-2"><strong> [{data}] - [{hora_inicio}] </strong></div>
                                <div class="col col-2">pago:
                                    <input type="checkbox" data-value="[{confirmado}]"
                                           onclick="evento.editar_presenca_pagamento([{id}], this, 'confirmado')">
                                </div>
                                <div class="col col-2">presente:
                                    <input type="checkbox" data-value="[{presente}]"
                                           onclick="evento.editar_presenca_pagamento([{id}], this, 'presente')">
                                </div>
                                <div class="col col-1">
                                    <a href="#" class="btn full-width btn-blue"
                                       onclick="evento.imprimir_cracha([{usuario_id}])">
                                        <img src="/static/images/cracha24.png" title="Imprimir crachá">
                                    </a>
                                </div>
                                <div class="col col-1"><a href="#" class="btn btn-blue full-width"
                                                          onclick="evento.imprimir_certificado([{usuario_id}])">
                                    <img src="/static/images/certificado24.png" title="Imprimir certificado"></a></div>
                            </div>
                        </div>
                    </div>

                </section>

                <section id="gerenciar-eventos-relatorios" class="page hide col col-10">
                    <a href="javascript:void(0)" onclick="evento.imprimir_grafico_localidade()"
                       class="btn btn-blue">gráfico por localidade</a>
                    <a href="javascript:void(0)" onclick="evento.imprimir_grafico_genero()"
                       class="btn btn-blue">gráfico por gênero</a>

                </section>

                <section id="enviar-email-participantes" class="page hide col col-10">
                    <form>
                        <input type="input" class="field" placeholder="Assunto" name="assunto">
                        <textarea class="field" name="mensagem" placeholder="Mensagem"></textarea>
                    </form>
                    <a href="javascript:void()" class="btn btn-blue full-width"
                       onclick="evento.enviar_email_participantes()">enviar</a>
                </section>

            </section>

        </div>

    </section>

    <section id="detalhe_evento" class="popup full">
        <div class="popup-body bck-white">
            <div data-model="evento_detalhe">
                <div class="fixed bottom-right stay-on-top">
                    <a href="javascript:void(0)" class="circle circle-small cancel"
                       onclick="evento.fechar_detalhe_evento()"></a>
                </div>
                <div class="col col-2"></div>
                <div class="event col col-6 suspend">
                    <div data-model="evento">
                        <input type="hidden" data-id="detalhe_evento_evento_id" value="[{id}]">
                        <h3 class="title gray">[{titulo}]</h3>
                        <div class="col col-10">
                            <a href="#" class="flo-left img-event"><img class="small-radius"
                                                                        data-src="/upload/[{imagem_divulgacao}]"/></a>

                            <pre class="text-justify des-event">[{descricao}]</pre>
                        </div>
                        <div class="col col-5">
                            <a href="javascript:void(0)" class="btn bck-menu-blue full-width" id="btn-inscrever-evento"
                               onclick="evento.abrir_periodos([{id}])"><img src="/static/images/check-mark32_2.png">
                                <div>participar</div>
                            </a>
                        </div>
                        <div class="col col-5">
                            <a href="javascript:void(0)" class="btn btn-red full-width" id="btn-cancelar-inscricao"
                               onclick="evento.abrir_periodos([{id}], true)"><img src="/static/images/cancel32_1.png">
                                <div>cancelar</div>
                            </a>
                        </div>

                    </div>


                    <section id="evento-periodo" class="col col-5">
                        <h3 class="title">período</h3>
                        <div data-model="periodos">
                            <ul>
                                <li>data: [{data}]</li>
                                <li>inicio: [{hora_inicio}]</li>
                                <li>fim: [{hora_fim}]</li>
                                <li>vagas disponibilizadas: [{quantidade_vagas}]</li>
                            </ul>
                        </div>
                    </section>

                    <section id="evento-localidade" class="col col-5">
                        <h3 class="title">local</h3>
                        <div data-model="local">
                            <ul>
                                <li>estado - [{estado}]</li>
                                <li>cidade - [{cidade_nome}]</li>
                                <li>logradouro - [{endereco}]</li>
                                <li>bairro - [{bairro}]</li>
                                <li>número - [{numero_endereco}]</li>
                            </ul>
                        </div>
                    </section>

                    <section id="evento-palestrantes" class="col col-10">
                        <h3 class="title">atrações</h3>
                        <div data-model="palestrantes">
                            <div class="col col-4 palestrante">
                                <h5 class="title">[{nome}]</h5>

                                <p class="text-justify">
                                    [{descricao}]
                                </p>
                            </div>
                        </div>
                    </section>

                    <section id="evento-videos" class="col col-10">
                        <h3 class="title">Vídeos</h3>
                        <div data-model="videos">
                            <div class="col col-5 text-center">
                                <h5>[{titulo_video}]</h5>
                                <iframe style="position:relative; float:left; display:inline; width:100%;"
                                        height="315"
                                        data-src="[{url}]"
                                        webkitallowfullscreen mozallowfullscreen allowfullscreen>
                                </iframe>
                            </div>
                        </div>
                    </section>

                    <section id="evento-anexos" class="col col-10">
                        <h3 class="title">anexos</h3>
                        <ul>
                            <span data-model="anexos">

                                <li>
                                    <a data-href="/upload/[{caminho_arquivo}]" target="_blank">[{titulo_anexo}]</a>
                                </li>

                            </span>
                        </ul>
                    </section>

                    <section id="evento-comentario" class="col col-10">
                        <div class="col col-10">
                            <h3 class="title">adicionar comentário</h3>
                            <div class="col col-10">
                                <textarea id="comentario" class="field"></textarea>
                                <a class="btn btn-blue" href="javascript:void(0)"
                                   onclick="evento.inserir_comentario()">adicionar</a>
                            </div>
                        </div>

                        <div class="col col-10">
                            <h3 class="title">comentários</h3>
                            <div data-model="comentarios" data-self="">
                                <h4 class="strong">[{usuario_nome}]</h4>
                                <p>
                                    [{comentario}]
                                </p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

    </section>

    <section id="inscricao_evento" class="popup">
        <div class="popup-body  small-radius popup-dlg " id="inscricao-evento-periodo">

            <h3 class="title">período</h3>
            <div class="tabled col col-10">
                <div class="tabled-body col col-10">
                    <div class="tabled-row col col-10" data-model="periodos_evento" data-self="">
                        data: [{data}] vagas: [{vagas_disponiveis}]
                        <input name="periodo" type="checkbox" value="[{id}]"
                               data-verificar="true" data-vagas="[{vagas_disponiveis}]"
                               onclick="return evento.verificar_vagas(this)">

                        <input type="hidden" name="evento" value="[{evento_id}]">
                    </div>
                </div>
            </div>

            <span name="inscrever" class="hidden"><a href="javascript:void(0)" class="btn btn-orange"
                                                     onclick="evento.inserir_deletar_participante(false)">confirmar</a></span>
            <span name="desinscrever" class="hidden"><a href="javascript:void(0)" class="btn btn-orange"
                                                        onclick="evento.inserir_deletar_participante(true)">confirmar</a></span>
            <a href="javascript:void(0)" class="btn btn-red"
               onclick="mainLib.popup.closePopup('inscricao_evento')">cancelar</a>

        </div>
    </section>

    <section id="dados_usuario_logado" class="page hide col col-7 border-right">

        <div data-model="edicao_usuario">
            <div class="col col-10">
                <form data-id="form_edicao_usuario" method="post"
                      onkeydown="mainLib.onPressEnterClick(event, 'a.salvar_dados_usuario')">
                    <section data-id="cadastro_base" class="col col-10">
                        <h4 class="title">identificação</h4>
                        <div class="form-field">
                            <label for="email">e-mail</label>
                            <input type="email" name="email" data-id="email" data-value="[{email}]">
                        </div>
                        <div class="form-field">
                            <label for="first_name">primeiro nome:</label>
                            <input type="text" data-id="first_name" name="first_name" data-value="[{first_name}]">
                        </div>
                        <div class="form-field">
                            <label for="last_name">sobrenome:</label>
                            <input type="text" data-id="last_name" name="last_name" data-value="[{last_name}]">
                        </div>
                        <div class="form-field">
                            <label for="telefone">telefone:</label>
                            <input type="text" data-id="telefone" name="telefone" data-value="[{telefone}]">
                        </div>
                        <div class="form-field">
                            <label for="sexo">sexo:</label>
                            <select name="sexo" data-id="sexo" data-value="[{sexo}]">
                                <option value=""></option>
                                <option value="F">Feminino</option>
                                <option value="M">Masculino</option>
                                <option value="O">Outros</option>
                            </select>
                        </div>

                        <div class="form-field text-center">
                            <label for="tipo_usuario">desejo organizar eventos</label>
                            <input type="checkbox" data-id="tipo_usuario" name="tipo_usuario"
                                   checked="('[{tipo_usuario}]' ==='O')">
                        </div>


                    </section>
                    <section data-id="imagem_perfil" class="col col-10">
                        <h4 class="title">imagem do perfil</h4>
                        <div class="form-field">
                            <input type="file" accept="image/*" name="foto_usuario"
                                   onchange="mainLib.showLocalImage(this, mainLib.find('#foto_usuario_img').first())">
                        </div>
                        <div>
                            <img data-src="/upload/[{foto_usuario}]" data-id="foto_usuario_img"
                                 alt="escolha uma foto para o perfil" class="img_editar_usuario"/>
                        </div>
                    </section>

                    <section id="cadastro_localidade" class="col col-10">
                        <h4 class="title">Localização</h4>
                        <div class="form-field">
                            <label for="pais">país:</label>
                            <select name="pais_id" data-id="pais" data-value="[{pais_id}]"
                                    data-lookup-url="/localidade/obter_paises" data-lookup-field="id"
                                    data-lookup-field2="nome">

                            </select>
                        </div>

                        <div class="form-field">
                            <label for="estado">estado:</label>

                            <select name="estado_id" data-id="estado" data-value="[{estado_id}]"
                                    data-lookup-url="/localidade/obter_estados" data-lookup-field="id"
                                    data-lookup-field2="nome"
                                    data-lookup-master="#pais"
                                    data-lookup-master-field="pais_id">
                            </select>
                        </div>

                        <div class="form-field">
                            <label for="cidade">cidade:</label>
                            <select name="cidade_id" data-id="cidade" data-value="[{cidade_id}]"
                                    data-lookup-url="/localidade/obter_cidades" data-lookup-field="id"
                                    data-lookup-field2="nome"
                                    data-lookup-master="#estado"
                                    data-lookup-master-field="estado_id">
                            </select>
                        </div>
                        <div class="form-field">
                            <label for="cep">cep/zip-code:</label>
                            <input name="cep" data-id="cep" type="text" data-value="[{cep}]">
                        </div>
                        <div class="form-field">
                            <label for="bairro">bairro:</label>
                            <input name="bairro" data-id="bairro" type="text" data-value="[{bairro}]">
                        </div>
                        <div class="form-field">
                            <label for=endereci">logradouro:</label>
                            <input name="endereco" data-id="endereco" type="text" data-value="[{endereco}]">
                        </div>
                        <div class="form-field">
                            <label for="numero_endereco">número:</label>
                            <input name="numero_endereco" data-id="numero_endereco" type="number"
                                   data-value="[{numero_endereco}]">
                        </div>

                    </section>

                    <section id="cpf_rg" class="col col-10">
                        <h4 class="title">Indentificação oficial</h4>
                        <div class="form-field">
                            <label for="cpf">cpf:</label>
                            <input name="cpf" data-id=cpf" type="text" data-value="[{cpf}]">
                        </div>
                        <div class="form-field">
                            <label for="numero_identidade">registro geral (RG) :</label>
                            <input name="numero_identidade" data-id="numero_identidade"
                                   data-value="[{numero_identidade}]"
                                   type="text">
                        </div>

                    </section>

                    <section id="cadastro_pagseguro" class="col col-10">
                        <h4 class="title">Integração com pagseguro (caso queira cobrar pelas palestras)</h4>
                        <div class="form-field">
                            <label for="email_pagseguro">email pagseguro:</label>
                            <input name="email_pagseguro" data-id="email_pagseguro" type="email"
                                   data-value="[{email_pagseguro}]">
                        </div>
                        <div class="form-field">
                            <label for="token_pagseguro">token único pagseguro :</label>
                            <input name="token_pagseguro" data-id="token_pagseguro" type="text"
                                   data-value="[{token_pagseguro}]">
                        </div>

                    </section>


                </form>

            </div>
            <section class="col col-10">
                <a href="javascript:void(0)"
                   onclick="usuario.cadastrar_usuario('/editar_usuario', '#form_edicao_usuario')"
                   class="btn btn-blue  salvar_dados_usuario">salvar dados do usuário</a>

                <a href="javascript:void(0)"
                   onclick="mainLib.popup.openPopup('popup_aulterar_senha')"
                   class="btn btn-blue  alterar_senha">alterar senha</a>

            </section>

            <div class="popup" id="popup_aulterar_senha">
                <div class="popup-body popup-dlg">
                    <h3 class="title">alteração de senha</h3>
                    <form data-id="form_edicao_usuario_senha"
                          onkeydown="mainLib.onPressEnterClick(event, 'a.alterar_senha')">
                        <div class="form-field">
                            <label for="password">nova senha:</label>
                            <input type="password" data-id="password" name="password">
                        </div>
                        <div class="form-field">
                            <label for="old_password">repita a senha:</label>
                            <input type="password" data-id="confirm_password" name="confirm_password">
                        </div>

                    </form>

                    <a href="javascript:void(0)"
                       onclick="usuario.cadastrar_usuario('/editar_usuario', '#form_edicao_usuario_senha')"
                       class="btn btn-blue  alterar_senha">alterar senha</a>
                    <a href="javascript:void(0)"
                       onclick="mainLib.popup.closePopup('popup_aulterar_senha')"
                       class="btn btn-red  alterar_senha">cancelar</a>

                </div>

            </div>
        </div>

    </section>
</div>

{% endblock %}

{% block 'js' %}
<script type="text/javascript" src="{% static 'js/usuario/usuario.js' %}"></script>
<script type="text/javascript" src="{% static 'js/evento/evento_index.js' %}"></script>

<script>
      mainLib.loadMenu();
      mainLib.dataBinder.bindServerDataOnTemplate('/obter_usuario', 'dados_perfil_usuario');
      mainLib.dataBinder.autoComplete();
      evento.ir_pagina('lista_eventos');
      evento.pgc_gerenciar_evento();





































































</script>

{% endblock %}