{% extends 'base.html'%}
{% load staticfiles %}
{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/evento/evento_index.css'%}">
{% endblock %}

{% block 'body' %}

<div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top bck-menu-blue">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed btn btn-primary" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <!--   <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span> -->
                    <span class="glyphicon glyphicon-search"></span>
                </button>

                <a class="navbar-brand white page-title" href="#">Auditório Eventos</a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                </ul>

                <form class="navbar-form navbar-left">
                    <div class="form-group autocomplete">
                        <input class="search form-control" placeholder="pesquise eventos aqui..." type="text"
                               data-autocomplete-url="/evento/lista_eventos_autocomplete"
                               data-field="id" data-field-text="titulo" data-field-img="imagem_divulgacao"
                               data-relative-img-url="/upload/" id="pesquisa_evento">

                    </div>
                    <a href="javascript:void(0)" class="btn btn-default form-control" role="button"
                       title="pesquisar"
                       id="btn-pesquisa_eventos"><span class="glyphicon glyphicon-search"></span></a>

                </form>

                <ul class="nav navbar-nav navbar-right hidden-xs">

                    <!-- <li><a href="javascript:void(0)" onclick="evento.abrir_edicao_usuario();" class="white"
                            data-model="dados_perfil_usuario" data-self="">
                         [{first_name}]&nbsp;[{last_name}]</a>
                     </li> -->
                    <li>
                        <a href="javascript:void(0)" class="white small-font nav-brand"
                           onclick="evento.abrir_edicao_usuario();" data-model="dados_perfil_usuario"
                           data-self="">
                            <img data-id="img-usr" data-src="/upload/[{foto_usuario}]"
                                 class="big-radius" data-title="[{first_name}]"/>
                        </a>
                    </li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


    <nav class=" menu ">
        <div class="container-btn-mnu">
            <button type="button" class="mnu-button btn btn-primary ">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
        </div>
        <div class="menu-content">
            <ul class="">
                <li onclick="evento.ir_pagina('lista_eventos', 'evento_conteudo');mainLib.dataBinder.removeReplicatedModel('evento_lista');
                         mainLib.dataBinder.bindServerDataOnTemplate('/evento/lista_eventos/', 'evento_lista',
                         mainLib.find('#lista_eventos').elements[0], 'evento_privado=false')">
                    <a href="javascript:void(0)"> Home </a>
                </li>
                <li onclick="evento.ir_pagina('lista_eventos', 'evento_conteudo');mainLib.dataBinder.removeReplicatedModel('evento_lista');
                          mainLib.dataBinder.bindServerDataOnTemplate('/evento/lista_eventos_participante/', 'evento_lista',
                        mainLib.find('#lista_eventos').first())">
                    <a href="javascript:void(0)"> Inscrições </a>
                </li>
                <li onclick="evento.abrir_edicao_usuario()">
                    <a href="javascript:void(0)">Meus dados</a>
                </li>

                <li data-model="dados_perfil_usuario"
                    data-self=""
                    data-visible="('[{tipo_usuario}]' === 'O')"
                    onclick="evento.ir_pagina('gerenciar_eventos', 'evento_conteudo');
                                     evento.pgc_gerenciar_evento();
                                     mainLib.dataBinder.bindServerDataOnTemplate('/evento/lista_eventos_organizador',
                                     'eventos_organizador', null, null, mainLib.find('#lista_eventos_gerenciar .list-btn li').elements.length <= 1)">
                    <a href="javascript:void(0)">
                        Gerenciar eventos </a>
                </li>
                <li>
                    <a href="/logout/">
                        sair </a>
                </li>
            </ul>
        </div>
    </nav>


    <div id="evento_conteudo" class="container after-menu">
        <section id="lista_eventos"
                 data-template-url="/template/lista_eventos"
                 data-container-template="lista_eventos"
                 class="col col-7 page hide slow-hide">
        </section>

        <section id="gerenciar_eventos" class="page hide col col-7 slow-hide"
                 data-template-url="/template/gerenciar_eventos"
                 data-container-template="gerenciar_eventos">

        </section>

        <div data-template-url="/template/detalhe_evento"
             data-container-template="detalhe_evento">

        </div>

        <div data-template-url="/template/inscricao_evento"
             data-container-template="inscricao_evento">
        </div>

        <section id="dados_usuario_logado"
                 class="page hide col col-7 slow-hide"
                 data-template-url="/template/dados_usuario"
                 data-container-template="dados_usuario">

        </section>
    </div>
</div>


{% endblock %}

{% block 'js' %}
<script type="text/javascript" src="{% static 'js/usuario/usuario.js' %}"></script>
<script type="text/javascript" src="{% static 'js/evento/evento_index.js' %}"></script>

<script type="text/javascript">

   evento.ir_pagina('lista_eventos');
   mainLib.dataBinder.getTemplate('lista_eventos');
   mainLib.loadMenu();

























</script>

{% endblock %}