  <div class="col-md-12 title" id="gerenciar-evento-cards">
    <div class="btn-group" aria-label="...">
        <button type="button" class="btn btn-default"
                onclick="evento.ir_pagina('lista_eventos_gerenciar', 'gerenciar_eventos');
                 mainLib.dataBinder.removeReplicatedModel('eventos_organizador');
                 mainLib.dataBinder.bindServerDataOnTemplate('/evento/lista_eventos_organizador',
                  'eventos_organizador')">
            Meus eventos

        </button>


        <button type="button" class="btn btn-default"
                onclick="evento.limpar_template();evento.ir_pagina('gerenciar-evento-tabs',
                            'gerenciar_eventos');mainLib.find('#criar_editar_evento').first().click()">
            Adicionar evento
        </button>
    </div>

</div>

<section id="lista_eventos_gerenciar" class="col-md-12 page slow-hide">
    <div class="col-md-12">
        <small class="menu-blue">clique sobre um evento da lista para editar</small>
    </div>
    <div class="col-md-12">
        <div class="list-group">
            <a data-model="eventos_organizador" class="list-group-item text-center" href="javascript:void(0)"
               onclick="evento.carregar_evento_edicao([{evento_id}])" data-self>
                <b>[{titulo}]</b>
            </a>
            <a  class="list-group-item text-center hide" href="javascript:void(0)" data-model-empty="eventos_organizador">Não
                há eventos cadastrados</a>
        </div>
    </div>
</section>

<div id="gerenciar-evento-tabs" class="hide page col-md-12 slow-hide">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#criar_editar_evento" role="tab" data-toggle="tab"
                                                  aria-controls="criar_editar_evento">Adicionar/Editar</a></li>
        <li role="presentation"><a href="#gerenciar-periodo-evento" role="tab" data-toggle="tab"
                                   aria-controls="gerenciar-perido-evento">Períodos do evento</a></li>
        <li role="presentation"><a href="#gerenciar-evento-organizadores" role="tab" data-toggle="tab"
                                   aria-controls="gerenciar-evento-organizadores">Organizadores</a></li>
        <li role="presentation"><a href="#gerenciar-evento-palestrante" role="tab" data-toggle="tab"
                                   aria-controls="gerenciar-evento-palestrantes">Atrações</a></li>
        <li role="presentation"><a href="#gerenciar-evento-anexos" role="tab" data-toggle="tab"
                                   aria-controls="gerenciar-evento-anexos">Anexos</a></li>
        <li role="presentation"><a href="#gerenciar-evento-videos" role="tab" data-toggle="tab"
                                   aria-controls="gerenciar-evento-videos">Vídeos</a></li>
        <li role="presentation"><a href="#gerenciar-eventos-tarefas" role="tab" data-toggle="tab"
                                   aria-controls="gerenciar-eventos-tarefas">Tarefas</a></li>
    </ul>
    <div class="tab-content">
        <section role="tabpanel" id="criar_editar_evento" class="tab-pane active">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="text-center">Adicione e altere o evento</h3>
                </div>
                <div class="panel-body">
                    <form id="form-criar-editar-evento" class="col col-10">
                        <div data-model="evento">
                            <input type="hidden" data-name="id" data-value="[{id}]">
                            <div class="form-group">
                                <label for="titulo">título</label>
                                <input type="text" class="form-control" data-id="titulo" data-name="titulo"
                                       data-value="[{titulo}]">
                            </div>
                            <div class="form-group">
                                <label for="descricao">descrição detalhada</label>
                                <textarea class="form-control" data-id="descricao"
                                          data-name="descricao">[{descricao}]</textarea>
                            </div>
                            <div class="form-group">
                                <label for="palavras_chave">palavras chaves</label>
                                <input type="text" data-id="palavras_chave" data-name="palavras_chave"
                                       data-value="[{palavras_chave}]" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="tipo_evento">tipo do evento</label>
                                <select data-value="[{tipo_evento}]" data-name="tipo_evento_id"
                                        data-lookup-url="evento/lista_tipo_evento" data-lookup-field="id"
                                        data-lookup-field2="nome" class="form-control"
                                >

                                </select>
                            </div>
                            <div class="form-group">
                                <label for="tipo_cobranca">tipo da cobrança</label>
                                <select data-name="tipo_cobranca" data-value="[{tipo_cobranca}]" class="form-control">
                                    <option value=""></option>
                                    <option value="G">Gratuíto</option>
                                    <option value="P">Pago</option>
                                </select>
                            </div>
                            <div class="form-group text-center">
                                <label for="evento_privado">evento privado(não mostrar na timeline)</label>
                                <input type="checkbox" data-id="cadastro_evento_evento_privado"
                                       data-value=[{evento_privado}] class="form-control">
                                <input type="hidden" data-name="evento_privado">

                            </div>
                            <div class="form-group">
                                <label for="valor">preço</label>
                                <input type="number" step="0.01" data-value="[{valor}]" data-id="valor"
                                       data-name="valor"
                                       class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="imagem_divulgacao">imagem para timeline:</label>
                                <input type="file" data-name="imagem_divulgacao"
                                       accept=".jpg, .png"
                                       onchange="mainLib.showLocalImage(this,
                                     mainLib.find('#imagem_divulgacao_img').first());" class="form-control">

                            </div>
                            <div class="col col-3 img-event">
                                <img data-src="/upload/[{imagem_divulgacao}]" data-id="imagem_divulgacao_img"
                                     alt="escolha uma imagem acima"/>
                            </div>


                        </div>
                        <div data-model="local">
                            <div class="form-group">
                                <label for="pais">país:</label>
                                <select data-name="pais_id" data-id="pais_evento"
                                        data-lookup-url="/localidade/obter_paises"
                                        class="form-control"
                                        data-lookup-field="id" data-lookup-field2="nome" data-value="[{pais_id}]">
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="estado">estado:</label>
                                <select data-name="estado_id" data-id="estado_evento" data-value="[{estado_id}]"
                                        class="form-control"
                                        data-lookup-url="/localidade/obter_estados"
                                        data-lookup-field="id" data-lookup-field2="nome"
                                        data-lookup-master="#pais_evento"
                                        data-lookup-master-field="pais_id">
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="cidade">cidade:</label>
                                <select data-name="cidade_id" data-id="cidade_evento" data-value="[{cidade_id}]"
                                        class="form-control"
                                        data-lookup-url="/localidade/obter_cidades"
                                        data-lookup-field="id" data-lookup-field2="nome"
                                        data-lookup-master="#estado_evento"
                                        data-lookup-master-field="estado_id">
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="cep">cep/zip-code:</label>
                                <input data-name="cep" data-id="cep" type="text" data-value="[{cep}]"
                                       class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="bairro">bairro:</label>
                                <input data-name="bairro" id="bairro" type="text" data-value="[{bairro}]"
                                       class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="endereco">logradouro:</label>
                                <input data-name="endereco" id="endereco" type="text" data-value="[{endereco}]"
                                       class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="numero_endereco">número:</label>
                                <input data-name="numero_endereco" id="numero_endereco" type="number"
                                       data-value="[{numero_endereco}]" class="form-control">
                            </div>
                        </div>

                    </form>

                    <div class="col col-10">
                        <h3 class="title"></h3>
                        <a href="javascript:void(0)" class="btn btn-primary" id="edicao_evento_salvar"
                           onclick="evento.salvar_evento();">salvar e
                            gerenciar</a>
                    </div>
                </div>
            </div>
        </section>
        <section role="tabpanel" id="gerenciar-periodo-evento" class="tab-pane">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="text-center">Adicione as datas em que o evento ocorrerá</h3>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="data-evento">data</label>
                            <input type="date" id="data-evento" name="data" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="hora-inicio-evento">hora do início</label>
                            <input type="time" id="hora-inicio-evento" name="hora_inicio" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="hora-fim-evento">hora do fim</label>
                            <input type="time" id="hora-fim-evento" name="hora_fim" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="quantidade-vagas-evento">quantidade de vagas</label>
                            <input type="number" id="quantidade-vagas-evento" name="quantidade_vagas"
                                   class="form-control">
                        </div>
                        <div class="form-group">
                            <a href="javascript:void(0)" onclick="evento.inserir_periodo();"
                               class="btn btn-primary">adicionar período</a>
                        </div>

                    </form>


                    <small class="menu-blue">remova os períodos clicando sobre as datas</small>
                    <div class="list-group">
                        <a data-model="periodos" data-self="" class="list-group-item text-center"
                           href="javascript:void(0)"
                           onclick="evento.remover_item('/evento/deletar_periodo', [{id}], this);">
                            [{data}] -
                            de [{hora_inicio}] à [{hora_fim}] -
                            [{quantidade_vagas}] vagas
                        </a>
                    </div>

                </div>
            </div>
        </section>
        <section role="tabpanel" id="gerenciar-evento-organizadores" class="tab-pane">
            <section class="lista_organizadores">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="text-center">Adicione os organizadores do evento</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div>
                                <small class="menu-blue">preencher o e-mail completo do usuário deixa a pesquisa mais
                                    eficaz
                                </small>
                            </div>

                            <div class="autocomplete form-group">
                                <input id="busca_adicionar_organizador" class="form-control"
                                       placeholder="adicione organizadores pesquisando aqui..."
                                       type="text" data-autocomplete-url="/pesquisar_usuario"
                                       data-field="id" data-field-text="nome_completo" data-field-img="foto_usuario"
                                       data-relative-img-url="/upload/">
                            </div>

                            <div class="form-group"><a href="javascript:void(0)" class="btn btn-primary"
                                                       onclick="evento.inserir_organizador()">Adicionar
                                organizador</a></div>
                        </div>
                        <div class="col-md-12">
                            <small class="menu-blue">remova os organizadores clicando sobre seus nomes</small>
                            <ul class="list-group">
                                <a data-model="organizadores" data-self="" href="javascript:void(0)"
                                   class="list-group-item text-center"
                                   onclick="evento.remover_item('/evento/deletar_organizador', [{id}], this);">
                                    [{nome}]
                                </a>
                            </ul>
                        </div>
                    </div>


                </div>
            </section>
        </section>
        <section role="tabpanel" id="gerenciar-evento-palestrante" class="tab-pane">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="text-center">Adicione atrações</h3>
                </div>
                <div class="panel-body">
                    <form class="col-md-12">
                        <div class="form-group">
                            <label for="palestrante_nome">nome</label>
                            <input type="text" name="nome" id="palestrante_nome" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="palestrante_cpf">cpf</label>
                            <input type="text" name="cpf" id="palestrante_cpf" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="palestrante_descricao">descrição</label>
                            <input type="text" name="descricao" id="palestrante_descricao" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="palestrante_email">e-mail</label>
                            <input type="email" name="email" id="palestrante_email" class="form-control">
                        </div>
                    </form>
                    <div class="col-md-12">
                        <a href="javascript:void(0)" onclick="evento.inserir_palestrante()"
                           class="btn btn-primary">adicionar atração</a>
                    </div>
                    <div class="col-md-12">
                        <small class="menu-blue">remova as atrações clicando sobre seus nomes</small>
                    </div>
                    <div class="col-md-12">
                        <div class="list-group">
                            <a data-model="palestrantes" data-self="" href="javascript:void(0)"
                               class="list-group-item text-center"
                               onclick="evento.remover_item('/evento/deletar_palesrante', [{id}], this);">
                                [{nome}]
                            </a>
                        </div>
                    </div>


                </div>

        </section>
        <section role="tabpanel" id="gerenciar-evento-anexos" class="tab-pane">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="text-center">Adicione arquivos</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control"
                                       placeholder="digite um título para o anexo" name="titulo_anexo"
                                       class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="file" name="caminho_arquivo"
                                       accept=".doc,.pdf,.jpg,.png,.gif,.docx,.xls,.xlsx,.odt,.ppt,.pot,.pps,.pptx"
                                       class="form-control">
                            </div>
                            <input type="hidden" name="evento_id">
                        </form>
                        <a href="javascript:void(0)" class="btn btn-primary"
                           onclick="evento.inserir_anexo()">adicionar</a>
                    </div>


                    <div class="col-md-12">
                        <small class="menu-blue">remova os anexos clicando sobre seus nomes</small>
                        <div class="list-group">
                            <a data-model="anexos" data-self class="list-group-item text-center"
                               href="javascript:void(0)"
                               onclick="evento.remover_item('/evento/deletar_anexo',[{id}], this)">[{titulo_anexo}]
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section role="tabpanel" id="gerenciar-evento-videos" class="tab-pane">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="text-center">Adicione vídeos</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-12">

                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control"
                                       placeholder="digite um título para o vídeo" name="titulo_video">
                            </div>
                            <div class="form-group">
                                <input type="url" class="form-control" name="url"
                                       placeholder="digite a url do vídeo que quer incorporar">
                            </div>
                            <input type="hidden" name="evento_id">
                        </form>


                        <a href="javascript:void(0)" class="btn btn-primary"
                           onclick="evento.inserir_video()">adicionar</a>

                    </div>

                    <div class="col-md-12">
                        <small class="menu-blue">remova os vídeos clicando sobre seus nomes</small>
                        <ul class="list-group">
                            <a data-model="videos" data-self="" href="javascript:void(0)"
                               class="list-group-item text-center"
                               onclick="evento.remover_item('/evento/deletar_video',[{id}], this)">
                                [{titulo_video}]
                            </a>

                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section role="tabpanel" id="gerenciar-eventos-tarefas" class="tab-pane">
            <div class="panel panel-default">
                <div class="panel-heading">
                   <div class="btn-group" aria-label="...">
                      <button type="button" class="btn btn-primary"
                         onclick="evento.carregar_participantes_evento();">
                          <span class="glyphicon glyphicon-barcode"></span>
                          <div class="white small-font">Gerenciar participantes</div>
                      </button>

                      <button type="button" class="btn btn-primary"
                         onclick="evento.ir_pagina('gerenciar-eventos-relatorios', 'task-bodies')">
                          <span class="glyphicon glyphicon-stats"></span>
                          <div class="white small-font">Gráficos</div>
                      </button>
                      <button type="button" class="btn btn-primary"
                         onclick="evento.ir_pagina('enviar-email-participantes', 'task-bodies')">
                          <span class="glyphicon glyphicon-send"></span>
                          <div class="white small-font">Enviar e-mail</div>
                      </button>


                      <button type="button" class="btn btn-primary full-width"
                         onclick="evento.ir_pagina('enviar-convite', 'task-bodies')">
                          <span class="glyphicon glyphicon-envelope"></span>
                          <div class="white small-font">Convidar usuários</div>
                      </button>
                    </div>
                </div>
                <div class="panel-body" id="task-bodies">
                    <section id="gerenciar-eventos-participantes" class="page hide col-md-12">
                        <div class="tabled col-md-12">
                            <div class="tabled-body md-col-12">
                                <div class="tabled-row col col-md-12" data-model="participantes_evento" data-self=""
                                     data-participante-id="[{id}]">
                                    <div class="col-md-3"><strong> [{nome}] &nbsp; [{sobrenome}] </strong></div>
                                    <div class="col-md-3"><strong> [{data}] [{hora_inicio}] </strong></div>
                                    <div class="col-md-1">pago:
                                        <input type="checkbox" data-value="[{confirmado}]"
                                               onclick="evento.editar_presenca_pagamento([{id}], this, 'confirmado')">
                                    </div>
                                    <div class="col-md-1">presente:
                                        <input type="checkbox" data-value="[{presente}]"
                                               onclick="evento.editar_presenca_pagamento([{id}], this, 'presente')">
                                    </div>
                                    <div class="col-md-1">
                                        <a href="javascript:void(0)" class="btn"
                                           onclick="evento.imprimir_cracha([{usuario_id}])">
                                            <span class="glyphicon glyphicon-user"></span>
                                            <span>Crachá</span>
                                        </a>
                                    </div>
                                    <div class="col-md-2">
                                        <a href="javascript:void(0)" class="btn"
                                           onclick="evento.imprimir_certificado([{usuario_id}])">

                                            <span class="glyphicon glyphicon-education"></span>
                                            <span>Certificado</span>
                                        </a>

                                    </div>
                                    <div class="col-md-1">
                                        <a href="javascript:void(0)" class="btn"
                                           onclick="evento.forcar_desinscricao_participante([{id}])">
                                            <span class="glyphicon glyphicon-trash"></span>
                                            <span>Excluir</span>

                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </section>

                    <section id="gerenciar-eventos-relatorios" class="page hide col-md-12">
                        <a href="javascript:void(0)" onclick="evento.imprimir_grafico_localidade()"
                           class="btn btn-primary">gráfico por localidade</a>
                        <a href="javascript:void(0)" onclick="evento.imprimir_grafico_genero()"
                           class="btn btn-primary">gráfico por gênero</a>

                    </section>

                    <section id="enviar-email-participantes" class="page hide col-md-12">
                        <form>
                            <div class="form-group">
                                <input type="input" class="form-control" placeholder="Assunto" name="assunto">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="mensagem" placeholder="Mensagem"></textarea>
                            </div>
                            <a href="javascript:void()" class="btn btn-primary "
                               onclick="evento.enviar_email_participantes()">Enviar</a>

                        </form>
                    </section>

                    <section id="enviar-convite" class="page hide col-md-12">
                        <div class="col-md-12">
                            <small class="menu-blue">preencher o e-mail completo do usuário deixa a pesquisa mais eficaz
                            </small>
                            <div class="form-group">
                                <div class="autocomplete">
                                    <input id="busca_adicionar_usuario_convite"
                                           placeholder="adicione usuários pesquisando aqui..."
                                           class="form-control" type="text" data-autocomplete-url="/pesquisar_usuario"
                                           data-field="id" data-field-text="nome_completo" data-field-img="foto_usuario"
                                           data-relative-img-url="/upload/">
                                </div>
                            </div>
                            <div class="form-group">
                                <a href="javascript:void(0)" class="btn btn-primary"
                                   onclick="evento.inserir_convidado()">enviar convite
                                </a>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <ul class="list-group">
                                <li data-model="convites_usuarios" data-self=""
                                    data-user-id="[{id}]" class="list-group-item">
                                    [{nome}]
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>
</div>
