<section id="inscricao_evento" class="popup slow-hide">
    <div class="popup-body  radius popup-dlg bck-white" id="inscricao-evento-periodo">

        <h3 class="title">Período</h3>
        <ul class="list-group">

            <li class="list-group-item" data-model="periodos_evento" data-self="">
                Data: [{data}] vagas: [{vagas_disponiveis}]
                <input name="periodo" type="checkbox" value="[{id}]"
                       data-verificar="true" data-vagas="[{vagas_disponiveis}]"
                       onclick="return evento.verificar_vagas(this)">

                <input type="hidden" name="evento" value="[{evento_id}]">
            </li>

        </ul>

        <span name="inscrever" class="hidden"><a href="javascript:void(0)" class="btn btn-primary"
                                                 onclick="evento.inserir_deletar_participante(false)">Confirmar</a></span>
        <span name="desinscrever" class="hidden"><a href="javascript:void(0)" class="btn btn-primary"
                                                    onclick="evento.inserir_deletar_participante(true)">Confirmar</a></span>
        <a href="javascript:void(0)" class="btn btn-danger"
           onclick="mainLib.popup.closePopup('inscricao_evento')">Cancelar</a>

    </div>
</section>