<section id="lista_convites"
         class="col-md-3  hide-mobile">
    <div class="panel panel-default ">
        <div class="panel-heading">
            <a href="javascript:void(0)" class="cur-pointer" onclick="mainLib.addClass('big', this.parentElement);
                                       mainLib.removeClass('hide', mainLib.find('#fechar_detalhe_convite').first()) ">
                convites para eventos
            </a>
        </div>
        <div class="panel-body">
            <span data-model-empty="lista_convites" class="hide">Não há nenhum convite</span>

            <ul class="">
                <li data-model="lista_convites" data-self="" class="">

                    <a href="javascript:void(0)"
                       class="stay-on-top"
                       onclick="mainLib.server.post('/deletar_convite', 'id=[{id}]');
                                    this.parentElement.parentElement.removeChild(this.parentElement);">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>

                    <a href="javascript:void(0)"
                       onclick="evento.ir_pagina('lista_eventos', 'evento_conteudo');
                                    mainLib.dataBinder.removeReplicatedModel('evento_lista');
                                    mainLib.dataBinder.bindServerDataOnTemplate('/evento/lista_eventos/', 'evento_lista',
                                    mainLib.find('#lista_eventos').first(), 'id=[{evento_id}]');
                                    mainLib.addClass('hide', mainLib.find('#fechar_detalhe_convite').first());
                                    mainLib.removeClass('big', this.parentElement.parentElement.parentElement.parentElement);
                                    "

                       class="gray">
                        [{titulo}]
                    </a>


                </li>
            </ul>
        </div>
    </div>
    <a href="javascript:void(0)" id="fechar_detalhe_convite"
       class="circle circle-small cancel stay-on-top hide-desktop bottom-right fixed hide"
       onclick="mainLib.addClass('hide', this);
                        mainLib.removeClass('big', this.parentElement);
                        "></a>

</section>

<section class="col-md-6">
    <div data-model="evento_lista">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="text-center"><a href="javascript:void(0)" class="gray hover-blue"
                                           onclick="evento.abrir_detalhe_evento([{id}])">[{titulo}]</a>
                </h3>

            </div>

            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item"><a href="javascript:void(0)" class="img-event"
                                                   onclick="evento.abrir_detalhe_evento([{id}])">
                        <img data-src="/upload/[{imagem_divulgacao}]"
                             class="small-radius"/>
                    </a>
                    </li>

                    <li class="list-group-item">
                        <p class="text-justify">[{descricao}]</p>
                    </li>

                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-map-marker"></span>
                        [{endereco}], número [{numero_endereco}], bairro [{bairro}], [{estado}] - [{cidade_nome}].

                    </li>
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-tag"></span>
                        [{tipo}]
                    </li>
                    <li class="list-group-item">
                        <span  class="glyphicon glyphicon-usd"></span>
                         [{valor}]
                    </li>
                    <li class="list-group-item">

                        <a href="javascript:void(0)" class="btn btn-primary"
                           onclick="evento.abrir_detalhe_evento([{id}])">
                            detalhes
                        </a>


                        <a href="javascript:void(0)" class="btn btn-primary"
                           onclick="evento.abrir_periodos([{id}])">
                            participar
                        </a>


                    </li>
                </ul>
            </div>


        </div>
    </div>
</section>
