{% extends 'base.html'%}
{% load staticfiles %}
{% block 'head' %}
<link rel="stylesheet" href="/static/css/usuario/usuario.css">
{% endblock %}

{% block 'body' %}


<div class="container-fuid">
    <header class="navbar navbar-default bck-menu-blue navbar-fixed-top">
        <!--        <div class="col col-2 hide-desktop">
                    <center><img class="img-logo" src="/static/images/logo3.png"/></center>
                </div> -->
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed btn-primary" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <!--<span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>-->
                    <span class="glyphicon glyphicon-user"></span>

                </button>
                <a href="/" class="navbar-brand white page-title">
                    Auditório Eventos
                </a>

            </div>
            <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
                <form id="form_login" class='navbar-form navbar-right' method="post"
                      onkeydown="mainLib.onPressEnterClick(event, 'a.realizar_login')">
                    {%csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="usuário" name="username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="senha">
                    </div>
                    <div class="form-group">
                        <a href="javascript:void(0)" onclick="usuario.logar();"
                           class="btn btn-default realizar_login form-control">Entrar</a>
                    </div>
                </form>
            </div>
        </div>
    </header>

    <!--<div class="container"> -->
    <nav class="menu">
        <div class="container-btn-mnu">
            <button type="button" class="mnu-button btn btn-primary ">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
        </div>
        <div class="menu-content">
            <ul>
                <li>
                    <a href="/"> Inicio</a>
                </li>
                <li>
                    <a href="#cadastro-usuario"> Cadastre-se</a>
                </li>
                <li>
                    <a href="#recuperar_senha"> Recupere a senha</a>
                </li>
                <li>
                    <a href="#entrar-contato"> Entre em contato</a>
                </li>

            </ul>
        </div>
    </nav>
    <!-- </div> -->

    <div class="jumbotron bck-menu-blue" id="welcome">

        <div class="container">
            <h1 class="white">Encontre e organize eventos!</h1>

            <p class="text-justify white"> O Auditório eventos quer conectar você às melhores palestras, simpósios
                e eventos do gênero.
                Nosso site permite você visualizar e se inscrever nos melhores eventos nas proximidades.
                Não fique de fora !
            </p>

            <p class="text-justify white">
                Se você é um palestrante ou organiza simpósios e afins, divulgue aqui seu evento.
                Basta se cadastrar como um organizador de eventos e usufruir de nossa plataforma para
                gerenciar e divulgar seu evento.
            </p>
            <p><a class="btn btn-primary btn-lg" href="#cadastro-usuario" role="button">Cadastre-se</a></p>
        </div>
    </div>

    <div class="container-cadastro bck-purple container-fluid">
        <section class="container " id="cadastro-usuario">


            <h1>Realize seu cadastro aqui!</h1>
            <form id="form_signup" method="post">{% csrf_token %}
                <section id="cadastro_base" class="col-md-6">
                    <h3 class="title">Identificação</h3>
                    <div class="form-group ">
                        <label for="email">E-mail</label>
                        <input type="email" name="email" id="email" class="form-control">
                    </div>
                    <div class="form-group ">
                        <label for="first_name">Primeiro nome:</label>
                        <input type="text" id="first_name" name="first_name" class="form-control">
                    </div>
                    <div class="form-group ">
                        <label for="last_name">Sobrenome:</label>
                        <input type="text" id="last_name" name="last_name" class="form-control">
                    </div>
                    <div class="form-group ">
                        <label for="telefone">Telefone:</label>
                        <input type="text" id="telefone" name="telefone" class="form-control">
                    </div>
                    <div class="form-group ">
                        <label for="sexo">Sexo:</label>
                        <select name="sexo" id="sexo" class="form-control">
                            <option value=""></option>
                            <option value="F">Feminino</option>
                            <option value="M">Masculino</option>
                            <option value="O">Outros</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="cpf">CPF:</label>
                        <input name="cpf" id=cpf" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="tipo_usuario">O que desejo fazer no site?</label>

                        <select name="tipo_usuario" class="form-control">
                            <option value=""></option>
                            <option value="O">Organizar eventos</option>
                            <option value="P">Apenas participar de eventos</option>
                        </select>
                    </div>

                </section>
                <div class="col-md-6">
                    <section id="cadastro_localidade" class="col-md-12">
                        <h3 class="title">Localização</h3>
                        <div class="form-group">
                            <label for="pais">País:</label>
                            <select name="pais_id" id="pais" onblur="mainLib.dataBinder.fillLookup('[data-lookup-url]')"
                                    class="form-control">
                                <option value=""></option>
                                <option data-model="paises" data-self data-value="[{id}]">[{nome}]</option>
                            </select>
                        </div>
                        <div class="form-group ">
                            <label for="estado">Estado:</label>
                            <select name="estado_id" id="estado" class="form-control"
                                    data-lookup-url="/localidade/obter_estados"
                                    data-lookup-field="id" data-lookup-field2="nome"
                                    data-lookup-master="#pais"
                                    data-lookup-master-field="pais_id">
                            </select>
                        </div>

                        <div class="form-group ">
                            <label for="cidade">Cidade:</label>
                            <select name="cidade_id" id="cidade" class="form-control"
                                    data-lookup-url="/localidade/obter_cidades"
                                    data-lookup-field="id" data-lookup-field2="nome"
                                    data-lookup-master="#estado"
                                    data-lookup-master-field="estado_id">
                            </select>
                        </div>

                    </section>

                    <section id="usuario_senha" class="col-md-12">
                        <h3 class="title">Autenticação:</h3>
                        <div class="form-group ">
                            <label for="username">Usuário:</label>
                            <input type="text" name="username" id="username" class="form-control">
                        </div>

                        <div class="form-group ">
                            <label for="password">Senha:</label>
                            <input name="password" id="password" type="password" class="form-control">
                        </div>
                        <div class="form-group ">
                            <label for="confirmacao_senha">Confirmação da senha:</label>
                            <input name="confirm_password" id="confirmacao_senha" type="password" class="form-control">
                        </div>
                        <a href="javascript:void(0)" class="btn btn-primary"
                           onclick="usuario.cadastrar_usuario('/cadastrar_usuario', '#form_signup', 'cadastro_base', true)">Cadastrar</a>
                    </section>
                </div>
            </form>
        </section>
    </div>
    <div class="container-cadastro bck-color-footer container-fluid container-extras">
        <div class="container container-cadastro ">
            <section class="col-md-6">
                <div id="recuperar_senha">
                    <h3 class="">Recupere a senha</h3>
                    <div class="form-group">
                        <input type="text" class="form-control" id="usuario-recuperacao" placeholder="usuário">
                    </div>
                    <div class="form-group">
                        <a class="btn btn-primary" href="javascript:void(0)"
                           onclick="usuario.recuperar_senha()">
                            recuperar
                        </a>
                    </div>
                </div>
            </section>
            <section class="col-md-6">
                <div id="entrar-contato">
                    <h3 class="">Entre em contato</h3>
                    <div class="form-group">
                        <input type="text" class="form-control" id="nome-contato" placeholder="Seu nome">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="msg-contato" placeholder="Mensagem"></textarea>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-primary" href="javascript:void(0)"
                           onclick="usuario.enviar_email_contato()">
                            enviar
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </div>


</div>
<footer>
    <div class="container-fluid bck-color-footer container-footer">
        <div class="copyright col-md-9 ">

            <ul class="nav navbar-nav">
                <li><a href="http://www.vmsis.com.br/" class="">Copyright 2016 VMSIS System</a></li>
            </ul>


        </div>
        <div class="col-md-3">
            <ul class="nav navbar-nav">
                <li><a href="http://www.vmsis.com.br/" class="">VMSIS System</a></li>
                <li><a href="http://vmsis.vcommerce.com.br/" class="">Vcommerce</a></li>
                <li><a href="http://getbootstrap.com/" class="">Bootstrap</a></li>
                <li><a href="http://glyphicons.com/">Glyphicons</a></li>
            </ul>
        </div>
    </div>
</footer>


{% endblock %}

{% block 'js' %}
<script type="text/javascript" src="static/js/usuario/usuario.js"></script>
<script type="text/javascript">
  mainLib.loadMenu();


</script>
{% endblock %}