body{
  background-color: ghostwhite;
}

.br-right{
  border-right: 1px solid white;
}

/*.page{

     -webkit-transition-property: width height background-color font-size left top color;
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: width height background-color font-size left top color;
    transition-duration: 1s;
    transition-delay: 0.5s;
    transition-timing-function: ease-in-out;
}*/

#img-usr{
  width:30px;
  height:30px;
}

img[src='/upload/']{
    display: none;
}

.img-logo{
  /*width:12%;
  height:12%;*/
    width:60%;
  height:60%;
}


.br-left{
  border-left: 1px solid white;
}


.menu-content > ul li:hover{
   background-color: #0099cc;
}


.event{
   background-color: white;/*ghostwhite;*/
   padding: 20px;
   font-size: 14px;
   color: gray;
   /*border: 2px solid #ebebe0;*/
}

.event .title, .event .title a{
  color: #006080;
}

.event ul{
  list-style: none;
  padding: 0px;
}

.logo-div{
  padding-top: 10px;
}

.group-pesq{
  margin-top: 10px;
}


.img-event{
  margin-bottom: 5px;
  width: 100%;
}

.img-event > img{
  /*max-width: 500px;*/
  /*max-height: 183px;*/
  width: 100%;
}


.img_editar_usuario{
  max-width: 500px;
  max-height: 183px;

}

.fixed-header > div{
  height: 50px;
}


.btn-float-participar{
   margin-left: 80%;
}

.des-event{
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;
}

.border-right{
   min-height:100%;
   border-right:1px solid #ebebe0;
}

.conteudo{
  height: 100%;
}

#dados_usuario_logado section{
   border:1px solid #ebebe0;
   border-radius: 5px;
   background-color: white;/*#006080;*/

}

#dados_usuario_logado section label{
  color: #006080;
}

#form_edicao_usuario section h4{
  color: #006080;
  font-weight: bold;
}

#gerenciar_eventos{
 height: 100%;
 background-color: white;
 border:1px solid #ebebe0;
}

@media print, screen{

  .cracha{
    width: 10cm;
    height: 15cm;
    background-image: url(/static/images/cracha.jpg);
    background-repeat: no-repeat;
    background-size: 10cm 15cm;
  }

  .img-cracha img{
    width: 4cm;
    height: 3cm;
  }

  .title-cracha{
    border-bottom: 1px solid #ebebe0;
    padding: 5px;
	text-align: center;
  }

}

.tab-body{
  /*background-color:#006080;*/
}

.tab-body label, .tab-body .title{
  color: #006080;
}

.tabs-group{
 /* background-color:#006080;*/
}


@media screen and (max-width: 800px) {
    .br-right, .br-left{
        border: none;
        border-bottom: 1px solid white;
        margin-top: 5px;
        text-align: center;

    }

    .img-logo{
      width:15%;
      height:15%;
    }


   /* .palestrante{
      width: 85%;
      margin-left: 50px;
    }*/

    .group-pesq{
      margin-top: 0px;
    }


    .fixed-header > div{
      height: auto;
    }

    #pesquisa-avancada{
      margin-left: 0px;
    }

    .event{
       background-color: white;
       padding: 0px;
    }


}