a,a:focus, a:hover{
  text-decoration: none;
}
html, body{
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  /*font-family: sans-serif, Times, serif;*/
  font-family: "Helvetica Neue",Helvetica,sans-serif,Arial,Times,serif;
}

pre{
  font-family: "Helvetica Neue",Helvetica,sans-serif,Arial,Times,serif;
}

.errorlist{
    color: white;
    width: 100%;
    height: 35px;
    float: left;
    position: relative;
    background-color: #dd3030;
    border-radius: 5px;
    /*padding: 2px;*/
    text-align: center;
}

.errorlist p{
  float:left;
  width: 100%;
  margin: 0px;
  padding-top: 8.75px;

}


.hide, .hide *{
  float: left !important;
  width: 0% !important;
  height: 0% !important;
  position: fixed !important;
  z-index: -1;
  opacity: 0;
  margin: 0px !important;
  padding: 0px !important;
  min-height: 0px !important;
}


.hide-desktop{
  display: none !important;
}

.slow-hide{
    -webkit-transition-property: width height background-color font-size left top color;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: width height background-color font-size left top color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.slow-hide.delay{
   -webkit-transition-delay: 0.5s;
   transition-delay: 0.5s;
}


/*.menu.menu-full{
  border-right: 1px solid white;

}*/

.menu, .menu-content{
  float:left;
}

.menu .mnu-button{
  display:none;
}

.menu{
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  z-index: 1000;
  background-color:white;
  left:0;
  height: 50px;
}


.menu .menu-content::before{
  display: none;
}

.menu-content{
  width: 100%;
}

.menu-content > ul{
    float: left;
    list-style: none;
/*	height: 100%;
	min-height: 100%;*/
    padding: 0px;
    display:inline;
    /*width: 100% !important;*/
}

.menu-content > ul img{
  width: 32px;
  height: 32px;
}

.menu-content  ul li{
   float:left;
   width: 125px;
   text-align: center;
   border-bottom: 1px solid white;
   height:50px !important;
   /*padding: 10px 10px 10px 10px !important;*/
   /*padding-top: 20px !important;*/

   display:table;
   cursor: pointer;
}

.menu-content  ul li a{
  display: table-cell;
  vertical-align: middle;
  position:relative;
}


.menu-content  ul li :hover{
  background-color:lightgray;

}

/*.menu-content > ul li a{
   width: 100% !important;
   float:left !important;
   height: 100%;
   ;
   top: 30%;

}*/

.after-menu{
  margin-top: 50px;
}

.card{
   float: left;
   display: inline;
   padding: 5px;
   box-shadow: gray 0px 0px 5px 0px;
   margin: 5px;
   overflow: hidden;
   text-overflow:ellipsis;
}
.card.c-small{
   width: 70px;
   height: 70px;
}

.card.c-medium{
   width: 120px;
   height: 120px;
}

.card.c-big{
   width: 170px;
   height: 170px;
}

.list-btn{
  list-style: none;
  margin: 5px;
  padding: 0px;
}

.list-btn li{
    padding: 10px;
	text-align: center;
	cursor: pointer;
    font-size: 14px;
    border: 1.5px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    color: #006080;
    background-color: white;
    margin: 1px;
    border-radius: 5px;

}

.list-btn li:hover{
   color:red;
   box-shadow: gray 0px 0px 3px;
}

.tabled{
  border: 1px solid ghostwhite;
  color:gray;
  vertical-align: middle;
  text-align: center;
}


.tabled .tabled-head{
  background-color: white;
  border-bottom: 1px solid #ebebe0;
}

.tabled .tabled-body .tabled-row:nth-child(even){
  background-color: white;
}

.tabled .tabled-body .tabled-row:nth-child(odd){
  background-color: #e6eeff;
}


.bold{
  font-weight: bold;
}

.small-font{
  font-size: 12px;
}

.medium-font{
  font-size: 16px;
}

.big-font{
  font-size: 20px
}

a{
  text-decoration: none;
}
.centralize{
   margin:35% auto;
}

.dis-inline{
   display: inline;
}

.flo-left{
  float: left !important;
}

.flo-right{
  float: right !important;
}

.dis-none{
  display: none;
}

.title{
    border-bottom: 1px solid #ebebe0;
    padding: 5px;
	text-align: center;
}


.vmsis-list-box{
  max-height: 450px;
  background-color : white;

}

.vmsis-list-box input{
    width : 100% !important;
}

.vmsis-list-box ul{
   width : 100%;
   margin : 0px;
   padding : 3px;
   max-height : 450px;
   overflow : auto;
   border-radius : 4px;
   border : 1px solid darkgray;
   box-shadow: darkgray 4px 4px;
}

.vmsis-list-box li {
   list-style: none;
   width : 100%;
   margin : 0px;
}

.vmsis-list-box ul li:hover{

    background-color : #3399FF;
    color : white;
    cursor : pointer;
}

.vmsis-text-box-item-active{
    background-color : blue;
    color : white;
}


.autocomplete{
  position: relative;
}

.autocomplete-container{
  width: 99.5%;
  background-color:white;
  position:absolute;
/*  margin-top: 40px;*/
  z-index: 1032;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

}

.autocomplete-container img{
  width: 32px;
  height: 32px;
}

.autocomplete-container ul{
   box-sizing: border-box;
   width : 100%;
   margin : 0px;
   padding : 2px;
   max-height : 400px;
   overflow : auto;

}

.autocomplete-container ul li{
   list-style: none;
   cursor:pointer;
   min-height: 40px;
   padding: 3px;
   /*margin-bottom: 10px;/*
   /*border-bottom: 1px solid white;*/

}

.autocomplete-container ul li:hover{
  background-color: #0082af;
}

.autocomplete-container ul li span {
  margin-top: 8px;
  /*position: absolute;*/
  margin-left: 5px;
}
.autocomplete-container ul li:hover{
  color: white;
}


.contextmenu{
   background-color: white;
   border: 1px solid #F3F3ED;
   float:left;
   position:absolute;
   border-radius: 2px;
   z-index: 1031;
   box-shadow: 5px 5px 5px #888888;
   display: none;

}
.contextmenu div{
  /*background-color: #F3F3ED;*/
  background-color: ghostwhite;
  border-bottom: 1px solid white;
  padding: 3px;
}

.contextmenu div:hover{
   /*background-color: #DBDBD5;   */
   background-color: #f5f5f5;
   cursor: pointer;
}

.no-overflow{
   overflow:none !important;
}
.auto-overflow{
  overflow: auto;
}
.hid-overflow{
  overflow: hidden !important;
}

.popup-show{
  z-index: 1031 !important;
  height: 100% !important;
  width: 100% !important;
  /*opacity: 0.9 !important;*/
  background: rgba(42, 39, 48, .8) !important;
  /*display: block !important;*/
}



.popup{
   height: 0%;
   width: 0%;
   position:fixed;
   display: table;
   z-index:-1;
   bottom: 0;
   left: 0;
   /*right: 0;*/
   /*top: 0;*/
   /*background-color #2a2730;*/
   /*opacity:0;*/
   /*display:none;*/
   background: rgba(42, 39, 48, .0);

}

.popup-body{
    position:absolute;
 	/*background-color: ghostwhite; */
	height:auto;
    overflow: auto;
	box-shadow: gray 0px 10px 10px 0px ;
	z-index: 1031;
	padding: 5px;
	width:auto;
	margin: 12% auto;
	opacity:1;
}

.popup.full > .popup-body{
	height:99% !important;
	width:99% !important;
	margin: 3px auto !important;
}

.popup.full > .popup-body.white{
   background-color:white;
}

.popup-dlg{
   width: 30%;
   margin: 12% 35%;
}

.popup-filter{
  position: absolute !important;
  margin-left:25%;
  width: 40% !important;
  height: 90%;
}

.popup-dlg .content-center{
   display: inline;
   float: left;
   width: 50%;
   text-align: center;
   margin: 0px 40% 0px;
}

.suspend{
    float: left;
	height:auto;
	box-shadow: gray 0px 10px 10px 0px ;
}

.little-suspend{
    float: left;
	height:auto;
	box-shadow: gray 0px 3px 3px 0px ;
}


.no-top-margin{
  margin-top: 0px !important;
}

.no-left-margin{
  margin-left: 0px !important;
}

.no-right-margin{
  margin-right: 0px !important;
}

.no-bottom-margin{
  margin-bottom: 0px !important;
}

.no-margin{
  margin: 0px !important;
}

.no-margin-top{
  margin-top: 0px !important;
}

.small-radius{
   border-radius: 6px !important;
}

.radius{
  border-radius: 10px !important;
}

.big-radius{
  border-radius: 64px !important;
}

.blue{
   color:#66a2ff !important;
}

.bck-menu-blue{
  background-color:#0082af !important;
}

.menu-blue{
  color:#0082af !important;
}

.white{
  color: white !important;
}

.bck-blue{
  background-color: #66a2ff !important;
}
.bck-purple{
  background-color:#6f5499 !important;
}
.bck-red{
  background-color: red !important;
}

.bck-white{
  background-color: white !important;
}

.bck-ghost{
  background-color: ghostwhite !important
}


.green{
 color:#00b300 !important;
}

.light-olive{
   color:#a3a376 !important;
}

.bck-olive{
   background-color:#a3a376 !important;
}

.yellow{
  color: rgb(231, 212,96)  !important;
}

.bck-yellow{
   background-color:  rgb(231, 212,96) !important;
}

.red{
  color: red !important;
}

.black{
  color:black;
}

.gray{
  color:gray;
}

.hover-red:hover{
  color:#990000;
}

.hover-blue:hover{
  color:#66a2ff !important;
}

.bck-hover-blue:hover{
  background-color:#66a2ff !important;
}

.hover-yellow:hover{
  color: rgb(231, 212,96) ;
}

.bck-hover-yellow:hover{
  background-color: rgb(231, 212,96) ;
}


.background-white{
   background-color:white;
}

.orange{
  color:orange;
}

.bck-orange{
  background-color: orange !important;
}

.hover-orange:hover{
  color: orange;
}

.bck-hover-orange:hover{
  background-color: orange;
}

.no-radius{
   border-radius: 0px !important;
}

.bor-orange{
  border: 1px solid orange;
}

.bor-red{
  border: 1px solid red;
}

.bor-green{
  border: 1px solid green;
}

.bor-yellow{
  border: 1px solid rgb(231, 212,96) ;
}

.bor-white{
  border: 1px solid white;
}


.tree-view ul{
   list-style:none;
   padding-left: 25px;

 }

.tree-view ul li{
  cursor:pointer;
  padding: 2px;
}

.tree-view ul li ul{
   display:none;
}

.tree-view .node-active{
   display:block;
}

.tree-view .has-child::before{
   content: "+";
   padding-right: 2px;
   padding-left: 2px;
   margin-right: 3px;
   border: 1px solid white;
   background-color: #DBDBD5;
   border-radius: 5px;
}

.tree-view .has-child.opened::before{
   content: "-" !important;
   padding-right: 3px;
   padding-left: 3px;
   margin-right: 5px;

}

.has-no-child.selected, .has-no-child.selected *{
  color: blue !important;
}

.cur-pointer{
  cursor: pointer;
}


.sel-imglist{
  height: 64px;
  width: 64px;
  border: 1px solid #337ab7;
  border-radius: 5px;
  background-color: ghostwhite;
}

.fixed{
  position: fixed;
}

.relative{
  position: relative;
}

.clean-margin{
  margin: 0px !important;
  width: 100%;
}


.fixed-header{
  margin: 0px !important;
  width: 100%;
  position: fixed;
  z-index:1031;
  max-height:75px;
  background-color: #0082af;
  opacity: 0.9;
  border-bottom: 1px solid white;
}


.after-header{
  margin-top: 53px;
}

.stay-on-top{
  z-index: 1031;
}


.bigger-on-hover:hover{
  box-shadow: gray 0px 10px 10px 0px ;
}


.hidden {
    display: none;
}



/*aba*/
.tabs-group,
.body-group {
    float: left;
    width: 100%;
}
.body-group {
    height: 100%;
}
.tabs-group{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 2px;
    border-bottom: none;
    border:1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    background-color: white;
    color: #006080;
}

.tab {
    display: inline;
    float: left;
    padding-top: 8.5px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 5px;
	box-sizing:border-box;
    min-height: 35px;
    text-align: center;
    font-size: 14px;
}

.close-tab{
   display: none;
}

.tab:hover {
    cursor: pointer;
    color:red;
}
.tab.active {
	color:red;
}
.page-control {
    float:left;
    height: 90%;
    width: 100%;
    margin-top: 5px;
}
.tab-body {
    background-color: white;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    border-radius: 5px;
    height: 0%;
	width: 0%;
	opacity:0;
    overflow: auto;
     border:1px solid;
     border-color: #e5e6e9 #dfe0e4 #d0d1d5;
     position: fixed;
    -webkit-transition-property: width  background-color font-size left top color;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: width background-color font-size left top color;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
.tab-body.active {
    height: 100% !important;
	width: 100% !important;
	opacity: 1 !important;
	float: left;
	position: relative;
}



.circle{
    float: left;
    border: 1px solid #ebebe0;
    text-align: center;
    vertical-align: center;
    box-sizing: border-box;
    background-color: white;
}
.circle:hover{
  background-color: ghostwhite;
}

.circle-small{
    font-size: 12px;
    border-radius: 40px;
    height: 40px;
    width: 40px;
}

.circle-small-small{
    font-size: 12px;
    border-radius: 20px;
    height: 20px;
    width: 20px;
}


.circle-medium{
    font-size: 14px;
    border-radius: 80px;
    height: 80px;
    width: 80px;
}

.circle-medium.text-center{
  padding-top: 20px;
}

.circle-big{
    font-size: 16px;
    border-radius: 160px;
    height: 160px;
    width: 160px;
}

.circle.circle-small.cancel{
  background-image:url(../images/cancel3-24.png);
  background-size: 24px;
  background-repeat:no-repeat;
  background-position: 7px;
  background-color: red;
  border-color:red;
}


.circle.circle-small-small.cancel{
  background-image:url(../images/cancel3-24.png);
  background-size: 12px;
  background-repeat:no-repeat;
  background-position: 3px;
  background-color: red;
  border-color:red;
}

.circle.circle-small.confirm{
  background-image:url(../images/confirm24.png);
  background-size: 24px;
  background-repeat:no-repeat;
  background-position: 7px;
  background-color: green;
  border-color:green;
}

.bottom-right{
  bottom: 3%;
  left: 85%;
}

.top-right{
  top: 1%;
  left: 92%;
}

[data-model]{
  display:none !important;
}

.wait-body{
	bottom: 0;
	left: 0;
	position: fixed;
    right: 0;
    top: 0;
    height : 100%;
    width:100%;
    z-index: 1050;
}

.wait {

    margin: 20% auto;
    position : relative;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;

}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



@media screen and (max-width: 800px) {
    .after-menu{
       margin-left: 0px;
    }

	.col-wrapper{
	   display:none;
	}

	.fixed-header{
	   max-height:150px;
	}

    .after-header.menu{
      margin-top: 0px;
    }

    .after-header{
      margin-top: 136px;
    }
    .fixed-header.no-fixed-mobile{
      position: relative;
      float: left;
      max-height:none;
    }

    .fixed-header.no-fixed-mobile ~ .after-header{
       margin-top: 0px !important;
    }


    .hide-scroll.no-height{
       /*float: left;
       width: 0% !important;
       height: 0% !important;
       position: fixed;
       z-index: -1;
       opacity: 0;*/
       display: none;
    }

    .hide-scroll.with-height{
       /*height: auto;*/
       display:auto;
    }

    .invisible-mobile{
      visibility: hidden;
    }

	.menu{
	    width: 50px;
        height: 45px;
	    float:left;
        border-right: none;
		background-color:transparent;
		z-index:1031;
		position:fixed;
		left: 0;
		top:0;
	}
    .container-btn-mnu{
      /*width: 100%;*/

    }
	.menu.menu-full .container-btn-mnu{
      border-bottom: 1px solid #ccc;
	}
	.menu.menu-full{
	  min-height: 100% !important;
	  max-height: 100% !important;
	  height: 100% !important;
	  width: 50% !important;
	  min-width: 30% !important;
      max-width: 50% !important;
      z-index: 1031;
      background-color: white;

	}
    .menu.menu-full > .menu-content ul{
       height: 100%;
    }

	.menu  ul{
	   display:none;
	   height:auto;

	}

    .menu-content > ul li:hover{
       color:gray;
       /*box-shadow: gray 0px 0px 10px;*/
       background-color:#0082af;
       /*transition: background-color 1s ease*/
    }

    .menu .menu-content{
      background-color: transparent;
    }

/*	.menu .menu-content::before{
	   display: inline !important;
	   content:url(../images/menu7.png) !important;
	   padding-left: 10px;
	   padding-top: 7px;
	   cursor:pointer;
	   box-sizing: border-box;
	} */
    .menu .mnu-button{
      display:block;
	   padding-left: 10px;
	   padding-top: 7px;
	   box-sizing: border-box;

    }
    .menu-content > ul {
	    float:left;
	    margin-left:0px;
		width:100%;
    }

	.menu-full .menu-content > ul li{
	   min-height: 40px;
	   width: 100%;
	   border-bottom: 1px solid #ccc;
	}

    .menu-full .menu-suspended li{
	   height: 40px;
	}

	.header{
	   display:none !important;
	}


   .message, .errorlist{
	    width: 100%;
   }
   .tabled-head{
      border-bottom: none !important;
   }

   .tabled-head div{
     background-color: #66a2ff;
     border-bottom: 1px inset white;
     color:white;
   }

   .tabled-head div:last-child{
      border-bottom: none;
   }

   .tabled-row{
     border-bottom: 2px solid #a2c3c3;
   }


  /* .tab{
     width:100%;
     margin-top: 3px;
     border-left: none;
     border-right: none;
     border-top-left-radius: 0px;
     border-top-right-radius: 0px;
  	 padding-left: 0px;
	 padding-right: 0px;
	 margin: 0px;
	 box-shadow: gray 0px 0px 2px;
   }

   .tab-body{
     border-radius: 0px;
   }
   .body-group{
     width:0%;
     opacity:0;
     z-index: -1;
   }
*/

   /*.body-group.active{
     position: fixed;
     opacity: 1;
     width: 100%;
     min-height: 100%;
     left: 0;
     top: 0;
     z-index: 104;
   }

   .tab-body.active{
      position: fixed;
      z-index: 104 !important;
      opacity: 1 !important;
      width: 100% !important;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
   }

   .close-tab{
     display: block;
     box-sizing: border-box;
     padding: 5px;
     bottom: 10px;
     left: 85%;
     z-index: 105;
   }*/


    .hide-mobile{
         float: left !important;
         width: 0% !important;
         height: 0% !important;
         position: fixed !important;
         z-index: -1;
         opacity: 0;
         margin: 0px !important;
         padding: 0px !important;
         min-height: 0px !important;
     /*display: none;*/
    }

    .hide-desktop{
       display: inline !important;
    }


    .no-suspend-mobile{
      box-shadow: none;
    }


   [data-model]{
     display:none;
   }

   .wait{
     margin: 50% auto;
    width: 60px;
    height: 60px;

   }

   .popup-dlg{
       width: 95%;
       margin: 30% 3px;
    }

}

@media screen and (max-width: 768px) {
    .fixed-header.no-fixed-mobile ~ .after-header{
       margin-top: 0px !important;
    }
}

@media screen and (max-width: 414px) {
    .fixed-header.no-fixed-mobile ~ .after-header{
       margin-top: 0px !important;
    }

}

@media screen and (max-width: 600px) {

    .title{
        border-bottom: 1px solid #ebebe0;
        padding: 10px 0px;
	    text-align: center;
	    line-height: 100%;
    }

   .popup-dlg{
       width: 95%;
       margin: 45% 3px;
    }
}


@media screen and (max-height:600px){
    .menu-suspended li{
	   height: 40px;
	}

	.menu{
	  overflow: auto;
	}
}
