body {
  padding-top: 70px;
  background-color: ghostwhite;
}


.menu{
  top:50px;
}

.img-logo{
  width:28%;
  height:28%;
}


.rec-pass-msg{
  float:left;
  text-align:justify;
  padding: 5px;

}

.bck-color-footer{
    background-color:#2a2730;
}

#welcome{
  margin-bottom :0px !important;
  padding-bottom: 0px !important;

}

.container-cadastro label, .container-cadastro h1, .container-cadastro h3{
  color: white !important;
}

.container-cadastro{
  padding-bottom: 10px;
}

.container-footer{
  border-top: 1px solid white;
}


@media screen and (max-width: 800px) {
   .menu{
     top:0px;

   }
   .container-btn-mnu{
      padding:9px 10px;

   }
 .page-title{
      padding: 15px 55px !important;
    }
}
}